In [1]:
from bs4 import BeautifulSoup
import urllib
import urllib.error
import urllib.request
import json
import pandas as pd
import numpy as np
import time



URL_HOME = 'https://www.winamax.fr/paris-sportifs'
URL_MATCH = 'https://www.winamax.fr/paris-sportifs/match/'
URL_SPORT = 'https://www.winamax.fr/paris-sportifs/sports/'
URL_BOOST = 'https://www.winamax.fr/paris-sportifs/sports/100000'


def request_get_html(url):
    req = urllib.request.Request(
        url, 
        headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
    })
    page = urllib.request.urlopen(req, timeout=10).read()
    parser = BeautifulSoup(page, 'html.parser')
    return parser

def winamax_get_dict_data(html):
    for line in html.find_all(['script']):
        if "PRELOADED_STATE" in str(line.string):
            txt_line = line.string
            txt_line = txt_line.split('var PRELOADED_STATE = ')[1][:-1]
            d_line = json.loads(txt_line)
    return d_line


## Retrieve list sports ID
req = request_get_html(URL_HOME)
d_data = winamax_get_dict_data(req)
d_mapping_sport = {}
for k in d_data['sports']:
    d_mapping_sport[k] = {}
    d_mapping_sport[k]['sportId'] = k
    d_mapping_sport[k]['sportName'] = d_data['sports'][str(k)]['sportName']
    
df_sports = pd.DataFrame.from_dict(d_mapping_sport, orient='index')
l_sport_ids = df_sports['sportId'].values.tolist()
l_sport_ids.remove('100000')
arr_sport_ids = np.array(l_sport_ids)



l_match_cols = ['matchId', 'available', 'status', 'title', 'sportId',
                'categoryId', 'tournamentId', 'competitor1Id',
                'competitor1Name', 'competitor2Id', 'competitor2Name']

l_bet_cols = ['betId', 'matchId', 'marketId', 'outcomes', 'available', 
              'betTypeIsLive', 'betTitle','betTypeName', 'betType', 
              'betTypeCategoryId', 'betTypeCategory', 'betGroup']

l_odd_cols = ['outcomeId', 'betId', 'matchId', 'label', 
              'available', 'code', 'percentDistribution', 'odd']



l_matches = []
l_bets = []
l_odds = []

for sport_id in arr_sport_ids:
    url = URL_SPORT + str(5)
    req = request_get_html(url)
    d_data = winamax_get_dict_data(req)
    for match_id in d_data['matches']:
        row = d_data['matches'][match_id]
        match_row = { key: row[key] for key in l_match_cols }
        l_matches.append(match_row)
        

for match_id in df_matches['matchId'].values:
    url = URL_MATCH + str(match_id)
    req = request_get_html(url)
    d_data = winamax_get_dict_data(req)
    for bet_id in d_data['bets']:
        row = d_data['bets'][bet_id]
        row['matchId'] = match_id
        bet_row = { key: row[key] for key in l_bet_cols }
        l_bets.append(bet_row)
        
        for odd in row['outcomes']:
            d_odd_row = d_data['outcomes'][str(odd)]
            d_odd_row['matchId'] = match_id
            d_odd_row['betId'] = bet_id
            d_odd_row['outcomeId'] = odd
            d_odd_row['odd'] = d_data['odds'][str(odd)]
            if not 'percentDistribution' in d_odd_row:
                d_odd_row['percentDistribution'] = -1
            bet_odd = { key: d_odd_row[key] for key in l_odd_cols }
            l_odds.append(bet_odd)
    time.sleep(1)
    
df_matches = pd.DataFrame.from_records(l_matches)
df_bets = pd.DataFrame.from_records(l_bets)
df_odds = pd.DataFrame.from_records(l_odds)

NameError: name 'df_matches' is not defined

In [2]:
from bs4 import BeautifulSoup
import urllib
import urllib.error
import urllib.request
import json
import pandas as pd
import numpy as np
import time



URL_HOME = 'https://www.winamax.fr/paris-sportifs'
URL_MATCH = 'https://www.winamax.fr/paris-sportifs/match/'
URL_SPORT = 'https://www.winamax.fr/paris-sportifs/sports/'
URL_BOOST = 'https://www.winamax.fr/paris-sportifs/sports/100000'


def request_get_html(url):
    req = urllib.request.Request(
        url, 
        headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
    })
    page = urllib.request.urlopen(req, timeout=10).read()
    parser = BeautifulSoup(page, 'html.parser')
    return parser

def winamax_get_dict_data(html):
    for line in html.find_all(['script']):
        if "PRELOADED_STATE" in str(line.string):
            txt_line = line.string
            txt_line = txt_line.split('var PRELOADED_STATE = ')[1][:-1]
            d_line = json.loads(txt_line)
    return d_line

In [3]:
## Retrieve list sports ID
req = request_get_html(URL_HOME)
d_data = winamax_get_dict_data(req)
d_mapping_sport = {}
for k in d_data['sports']:
    d_mapping_sport[k] = {}
    d_mapping_sport[k]['sportId'] = k
    d_mapping_sport[k]['sportName'] = d_data['sports'][str(k)]['sportName']

In [4]:
df_sports = pd.DataFrame.from_dict(d_mapping_sport, orient='index')
l_sport_ids = df_sports['sportId'].values.tolist()
l_sport_ids.remove('100000')
arr_sport_ids = np.array(l_sport_ids)

In [5]:
l_match_cols = ['matchId', 'available', 'status', 'title', 'sportId',
                'categoryId', 'tournamentId', 'competitor1Id',
                'competitor1Name', 'competitor2Id', 'competitor2Name']

l_bet_cols = ['betId', 'matchId', 'marketId', 'outcomes', 'available', 
              'betTypeIsLive', 'betTitle','betTypeName', 'betType', 
              'betTypeCategoryId', 'betTypeCategory', 'betGroup']

l_odd_cols = ['outcomeId', 'betId', 'matchId', 'label', 
              'available', 'code', 'percentDistribution', 'odd']

In [6]:
l_matches = []
l_bets = []
l_odds = []

for sport_id in arr_sport_ids:
    url = URL_SPORT + str(5)
    req = request_get_html(url)
    d_data = winamax_get_dict_data(req)
    for match_id in d_data['matches']:
        row = d_data['matches'][match_id]
        match_row = { key: row[key] for key in l_match_cols }
        l_matches.append(match_row)

In [7]:
df_matches = pd.DataFrame.from_records(l_matches)

In [8]:
for match_id in df_matches['matchId'].values:
    url = URL_MATCH + str(match_id)
    req = request_get_html(url)
    d_data = winamax_get_dict_data(req)
    for bet_id in d_data['bets']:
        row = d_data['bets'][bet_id]
        row['matchId'] = match_id
        bet_row = { key: row[key] for key in l_bet_cols }
        l_bets.append(bet_row)
        
        for odd in row['outcomes']:
            d_odd_row = d_data['outcomes'][str(odd)]
            d_odd_row['matchId'] = match_id
            d_odd_row['betId'] = bet_id
            d_odd_row['outcomeId'] = odd
            d_odd_row['odd'] = d_data['odds'][str(odd)]
            if not 'percentDistribution' in d_odd_row:
                d_odd_row['percentDistribution'] = -1
            bet_odd = { key: d_odd_row[key] for key in l_odd_cols }
            l_odds.append(bet_odd)
    break
    time.sleep(1)

In [9]:
df_bets = pd.DataFrame.from_records(l_bets)
df_odds = pd.DataFrame.from_records(l_odds)

In [14]:
df_matches

,matchId,available,status,title,sportId,categoryId,tournamentId,competitor1Id,competitor1Name,competitor2Id,competitor2Name
0,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
1,42004863,True,PREMATCH,Strasbourg - Paris SG,1,7,4,1659.0,Strasbourg,1644.0,Paris SG
2,46976017,True,PREMATCH,Serbie - Slovaquie,5,76,294,37969.0,Serbie,14578.0,Slovaquie
3,46976019,True,PREMATCH,Croatie - Belgique,5,76,294,14442.0,Croatie,15460.0,Belgique
4,46976033,True,PREMATCH,Ukraine - États-Unis,5,76,294,15767.0,Ukraine,14657.0,États-Unis
...,...,...,...,...,...,...,...,...,...,...,...
835,1000044108,True,PREMATCH,Jeux Olympiques 2024 - Simples Hommes,5,800000265,900007304,NaN,None,NaN,None
836,1000045962,True,PREMATCH,Jeux Olympiques 2024 - Simples Femmes,5,800000265,900007489,NaN,None,NaN,None
837,1000048203,True,PREMATCH,WTA Open d'Australie 2025,5,6,900002833,NaN,None,NaN,None
838,1000048290,True,PREMATCH,WTA 250 - Hua Hin 2024,5,6,141580,NaN,None,NaN,None
839,1000048300,True,PREMATCH,ATP Open d'Australie 2025,5,3,900004523,NaN,None,NaN,None

In [19]:
df_matches[df_matches['categoryId'] == 32]

,matchId,available,status,title,sportId,categoryId,tournamentId,competitor1Id,competitor1Name,competitor2Id,competitor2Name
0,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
35,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
70,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
105,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
140,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
175,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
210,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
245,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
280,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
315,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
350,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
385,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
420,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
455,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
490,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
525,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
560,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
595,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
630,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
665,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
700,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
735,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
770,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid
805,41893295,True,PREMATCH,Getafe - Real Madrid,1,32,36,2859.0,Getafe,2829.0,Real Madrid

In [20]:
df_bets

,betId,matchId,marketId,outcomes,available,betTypeIsLive,betTitle,betTypeName,betType,betTypeCategoryId,betTypeCategory,betGroup
0,293836156,41893295,1,"[957380077, 957380078, 957380079]",True,False,Résultat,Résultat,3178,1,Résultat,1
1,294445868,41893295,1,"[959298820, 959298821, 959298822]",True,False,Résultat,Résultat,3178,1,Résultat,1
2,293836096,41893295,546,"[957379874, 957379876, 957379875, 957379873, 9...",True,False,Double chance et les deux équipes marquent,Double chance et les deux équipes marquent,2677,44,Paris combinés,110
3,293836097,41893295,542,"[957379882, 957379880, 957379878, 957379881, 9...",True,False,Mi-temps - Double chance et les deux équipes ...,Mi-temps - Double chance et les deux équipes ...,3237,44,Paris combinés,131
4,293836098,41893295,551,"[957379884, 957379885, 957379886, 957379887, 9...",True,False,Score exact multichance,Score exact multichance,3379,16,Score exact,5
...,...,...,...,...,...,...,...,...,...,...,...,...
197,297231742,41893295,9092,"[967787046, 967787047, 967787048]",True,False,Type de but de Vinicius Junior,Type de but de Vinicius Junior,5691,43,Type de but,41
198,297231898,41893295,9092,"[967787464, 967787465, 967787466]",True,False,Type de but de Joselu,Type de but de Joselu,5691,43,Type de but,42
199,297231984,41893295,9092,"[967787742, 967787743, 967787744]",True,False,Type de but de Rodrygo,Type de but de Rodrygo,5691,43,Type de but,43
200,297232166,41893295,9092,"[967788343, 967788344, 967788345]",True,False,Type de but de Borja Mayoral,Type de but de Borja Mayoral,5691,43,Type de but,44
201,297232684,41893295,9092,"[967790197, 967790198, 967790199]",True,False,Type de but de Mason Greenwood,Type de but de Mason Greenwood,5691,43,Type de but,45

In [13]:
df_sports

       sportId            sportName
1            1             Football
2            2           Basketball
3            3             Baseball
4            4     Hockey sur glace
5            5               Tennis
6            6             Handball
9            9                 Golf
10          10                 Boxe
11          11           Automobile
12          12           Rugby à XV
13          13  Football australien
16          16   Football américain
17          17             Cyclisme
19          19              Snooker
23          23          Volley-ball
26          26           Water-polo
30          30                   JO
40          40            Formule 1
43          43            Ski alpin
44          44             Biathlon
46          46          Ski de fond
117        117                  MMA
190        190                 Moto
9992      9992         Rugby à XIII
100000  100000      Cotes boostées

In [21]:
df_odds

,outcomeId,betId,matchId,label,available,code,percentDistribution,odd
0,957380077,293836156,41893295,Getafe,True,1,0,6.25
1,957380078,293836156,41893295,Match nul,True,x,2,4.00
2,957380079,293836156,41893295,R. Madrid,True,2,98,1.56
3,959298820,294445868,41893295,Strasbourg,True,1,0,6.00
4,959298821,294445868,41893295,Match nul,True,x,1,4.60
...,...,...,...,...,...,...,...,...
1944,967788344,297232166,41893295,Tête,True,head,100,15.00
1945,967788345,297232166,41893295,Penalty,True,penalty,-1,9.00
1946,967790197,297232684,41893295,Coup franc direct,True,free_kick,100,40.00
1947,967790198,297232684,41893295,Tête,True,head,-1,30.00
1948,967790199,297232684,41893295,Penalty,True,penalty,-1,10.00

In [26]:
set(df_odds['code'])

{'0:0',
 '0:1',
 '0:2',
 '0:3',
 '0:4',
 '0:5',
 '1',
 '10',
 '11',
 '12',
 '1714',
 '1715',
 '1718',
 '1719',
 '1720',
 '1721',
 '1722',
 '1723',
 '1724',
 '1725',
 '1726',
 '1727',
 '1728',
 '1729',
 '1746',
 '1747',
 '1748',
 '1749',
 '1750',
 '1751',
 '1752',
 '1753',
 '1754',
 '1755',
 '1756',
 '1757',
 '1758',
 '1759',
 '1803',
 '1805',
 '1:0',
 '1:1',
 '1:2',
 '1:3',
 '1:4',
 '1:5',
 '2',
 '2:0',
 '2:1',
 '2:2',
 '2:3',
 '2:4',
 '2:5',
 '3',
 '3:0',
 '3:1',
 '3:2',
 '3:3',
 '3:4',
 '3:5',
 '4',
 '418',
 '420',
 '422',
 '424',
 '426',
 '428',
 '430',
 '432',
 '434',
 '4:0',
 '4:1',
 '4:2',
 '4:3',
 '4:4',
 '4:5',
 '5',
 '584',
 '586',
 '588',
 '590',
 '592',
 '594',
 '596',
 '598',
 '5:0',
 '5:1',
 '5:2',
 '5:3',
 '5:4',
 '6',
 '600',
 '602',
 '604',
 '606',
 '608',
 '610',
 '612',
 '614',
 '616',
 '7',
 '74',
 '76',
 '78',
 '784',
 '788',
 '790',
 '792',
 '794',
 '796',
 '798',
 '8',
 '80',
 '800',
 '802',
 '804',
 '814',
 '816',
 '818',
 '82',
 '820',
 '822',
 '824',
 '826',
 '84',
 '86',
 '88',
 '9',
 'free_kick',
 'head',
 'no',
 'other',
 'over',
 'penalty',
 'players:sr:1134403|sr:1350378',
 'players:sr:1134403|sr:1350378|sr:1848612',
 'players:sr:1134403|sr:1848612',
 'players:sr:1134403|sr:1848612|sr:2090609',
 'players:sr:1134403|sr:1848612|sr:604954',
 'players:sr:1134403|sr:1848612|sr:69418',
 'players:sr:1134403|sr:1848612|sr:937374',
 'players:sr:1134403|sr:2090609',
 'players:sr:1134403|sr:604954',
 'players:sr:1134403|sr:69418',
 'players:sr:1350378|sr:1848612',
 'players:sr:1350378|sr:2090609',
 'players:sr:1350378|sr:2090609|sr:604954',
 'players:sr:1350378|sr:2090609|sr:69418',
 'players:sr:1350378|sr:604954',
 'players:sr:1350378|sr:604954|sr:69418',
 'players:sr:1350378|sr:604954|sr:937374',
 'players:sr:1350378|sr:69418',
 'players:sr:138572|sr:255239|sr:26502',
 'players:sr:1546543|sr:15466|sr:169549',
 'players:sr:1546543|sr:15466|sr:962433',
 'players:sr:1546543|sr:1643482',
 'players:sr:1546543|sr:1643482|sr:962433',
 'players:sr:1546543|sr:169549',
 'players:sr:1546543|sr:169549|sr:547838',
 'players:sr:1546543|sr:169549|sr:962433',
 'players:sr:1546543|sr:2159140',
 'players:sr:1546543|sr:962433',
 'players:sr:15466|sr:169549|sr:351140',
 'players:sr:15466|sr:169549|sr:547838',
 'players:sr:15466|sr:351140|sr:547838',
 'players:sr:1643482|sr:2159140',
 'players:sr:1643482|sr:2159140|sr:336655',
 'players:sr:1643482|sr:2159140|sr:937374',
 'players:sr:1643482|sr:336655',
 'players:sr:1643482|sr:336655|sr:604954',
 'players:sr:1643482|sr:336655|sr:962433',
 'players:sr:1643482|sr:937374',
 'players:sr:1643482|sr:962433',
 'players:sr:1848612|sr:2090609',
 'players:sr:1848612|sr:604954',
 'players:sr:1848612|sr:69418',
 'players:sr:2090609|sr:2159140|sr:69418',
 'players:sr:2090609|sr:69418',
 'players:sr:2090609|sr:69418|sr:937374',
 'players:sr:2090609|sr:937374',
 'players:sr:2159140|sr:336655',
 'players:sr:2159140|sr:336655|sr:937374',
 'players:sr:2159140|sr:336655|sr:962433',
 'players:sr:2159140|sr:937374',
 'players:sr:2159140|sr:962433',
 'players:sr:2203486|sr:255239|sr:26502',
 'players:sr:255239|sr:26502|sr:351140',
 'players:sr:255239|sr:351140|sr:547838',
 'players:sr:26502|sr:351140|sr:547838',
 'players:sr:336655|sr:604954',
 'players:sr:336655|sr:937374',
 'players:sr:336655|sr:962433',
 'players:sr:604954|sr:69418',
 'players:sr:937374|sr:962433',
 'sr:exact_goals:3+:88',
 'sr:exact_goals:3+:89',
 'sr:exact_goals:3+:90',
 'sr:exact_goals:3+:91',
 'sr:exact_goals:9+:75',
 'sr:exact_goals:9+:76',
 'sr:exact_goals:9+:77',
 'sr:exact_goals:9+:78',
 'sr:exact_goals:9+:79',
 'sr:exact_goals:9+:80',
 'sr:exact_goals:9+:81',
 'sr:exact_goals:9+:82',
 'sr:exact_goals:9+:83',
 'sr:exact_goals:9+:84',
 'sr:goal_range:7+:1342',
 'sr:goal_range:7+:1343',
 'sr:goal_range:7+:1344',
 'sr:goal_range:7+:1345',
 'sr:player:1047507',
 'sr:player:1070898',
 'sr:player:108736',
 'sr:player:1134403',
 'sr:player:1350378',
 'sr:player:138572',
 'sr:player:142622',
 'sr:player:1546543',
 'sr:player:15466',
 'sr:player:1587488',
 'sr:player:1643482',
 'sr:player:1692931',
 'sr:player:169549',
 'sr:player:1726022',
 'sr:player:1848612',
 'sr:player:1957651',
 'sr:player:2090609',
 'sr:player:2104588',
 'sr:player:2159140',
 'sr:player:2203486',
 'sr:player:2272101',
 'sr:player:2297039',
 'sr:player:255239',
 'sr:player:26502',
 'sr:player:2690960',
 'sr:player:2709182',
 'sr:player:307702',
 'sr:player:311462',
 'sr:player:331449',
 'sr:player:336655',
 'sr:player:350560',
 'sr:player:351140',
 'sr:player:355064',
 'sr:player:36982',
 'sr:player:547838',
 'sr:player:576276',
 'sr:player:604954',
 'sr:player:69404',
 'sr:player:69418',
 'sr:player:769517',
 'sr:player:795808',
 'sr:player:815912',
 'sr:player:891594',
 'sr:player:937374',
 'sr:player:962433',
 'sr:winning_margin:3+:113',
 'sr:winning_margin:3+:114',
 'sr:winning_margin:3+:115',
 'sr:winning_margin:3+:116',
 'sr:winning_margin:3+:117',
 'sr:winning_margin:3+:118',
 'sr:winning_margin:3+:119',
 'under',
 'x',
 'yes'}